/* Write your global styles here, in PostCSS syntax */
@import "open-props/style";
@import "open-props/normalize";

html {
  height: 100%;
  --thumbnail-bg: #00000022;
  --thumbnail-border: var(--blue-9);
  @media (--OSdark) {
    --thumbnail-bg: #ffffff11;
    --thumbnail-border: var(--blue-1);
  }
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

